* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;   
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.search-form input {
  width: 20%;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  // background-color: #fff;
  padding: 8px 10px;    
}

.search-form button {  
  display: flex;
  justify-content: center;
  align-items: center;  
  border: none;
  background-color: #fff;  
  border-radius: 0 5px 5px 0;
  padding: 8px 20px;  
  cursor: pointer;
}

.search-form button:hover {
  // box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  background-color: rgba(224, 224, 224, 0.5);
  transition: all 0.3s;
}

.load-more.is-hidden {
  display: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
}

.gallery,
.info {
  display: flex;
  flex-wrap: wrap;
}

.gallery {
  margin-left: -20px;
  padding-top: 30px;
  justify-content: center;  
}

.gallery__link {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 320px;
  flex-basis: calc((100% - 80px) / 4);
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
}

.gallery__link:hover,
.gallery__link:focus {
  transform: scale(1.05);
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}

.gallery-item__img {
  display: block;
  height: 30vh;
  object-fit: cover;  
}

.info {
  padding: 10px;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: smaller;
}

.info-item:not(:first-child) {
  margin-left: 5px;
}